.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcf6d8;
  font-size: 2.3rem;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin: 10% auto;
  padding: 40px 20px;
  width: 550px;
}

.quote-detail {
  font-style: italic;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  background-color: #fcf6d8;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin: 10% auto;
  padding: 40px 20px;
  width: 550px;
}
