.hero-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
  padding: 9rem 0;
  z-index: 1;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  font-size: 2.6rem;
  font-weight: bolder;
  font-family: "Philosopher", sans-serif;
  z-index: 2;
  color: #0b0b0b;
}

.hero {
  position: relative;
  min-width: 295px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
  margin-top: 1rem;
  background:
    linear-gradient(
      to bottom right,
      #141d2e,
      #1b2a44b9,
      #1e3354,
      #1f3a61,
      #141d2e
    );
  border-radius: 3rem;
  z-index: 2;
  background-color: rgba(20, 29, 46, 0.7);
}

.standard {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem 3rem 1rem;
  font-family: Chivo, sans-serif;
  font-size: 1.8rem;
  color: white;
}

.bx-menu-alt-left {
  font-size: 2rem;
  color: white;
}

.display {
  height: 10rem;
  color: white;
  background-color: #0b0b0b;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 3rem;
  border-radius: 10px;
  overflow-x: auto;
}

.result {
  font-family: Chivo, sans-serif;
  color: #fff;
  padding: 0.7rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.btns {
  width: 6.7rem;
  height: 6.7rem;
  font-size: 2.2rem;
  font-weight: 600;
  border: 2px solid #0b0b0b;
  border-radius: 35%;
  color: white;
  background-color: #292929;
  box-shadow: -6px -2px 7px rgba(255, 255, 255, 0.2);
}

.row .btns:last-child {
  background-color: #ff5800;
  border: 2px solid #e04d00;
  color: white;
  box-shadow: -3px -1px 5px rgba(239, 83, 0, 0.5);
}

.row:nth-child(7) .btns:first-child {
  width: 14.2rem;
  border-radius: 2rem;
}
