.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #46a65e;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
}

.links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link {
  text-decoration: none;
}
